ion-label{
    text-transform: initial;
    color: black;
    font-weight: bold;
}
p{ 
    display: flex;
    flex-direction: column;
    align-items: center;
  
    border-radius: 10%;
}
ion-button{
    --background: rgba(255, 255, 255, 0.437);
}
