<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     <b>Others</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
          <p><img src="..\assets\icon\compass-icon_34461.png"><ion-label>Compass</ion-label>
          </p>
      </ion-col>
      <ion-col>
        <p><img src= "..\assets\icon\62807radio_109274.png"><ion-label>Radio</ion-label></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p><img src="..\assets\icon\if-advantage-nearby-1034361_88844.png"><ion-label>Map</ion-label> </p>
      </ion-col>
      <ion-col>
      <p><img src="..\assets\icon\flashlight_lantern_icon_146899.png"><ion-label>Flashlight</ion-label> </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p><img src="..\assets\icon\Login_37128.png"><ion-label>Login</ion-label> </p>
      </ion-col>
      <ion-col>
      
      </ion-col>
    </ion-row>
  </ion-grid>


  <app-explore-container name=""></app-explore-container>
</ion-content>
