<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login">
    <img src="..\assets\icon\appLogo.png" alt="">
      <input style="padding: 10px; margin-top: 30px;" type="text" placeholder="Username">
      <input style="padding: 10px; margin: 10px;" type="password" placeholder="Password">
      <button routerLink="/adindashboard" style="padding: 10px;">Login</button>
  </div>

  </ion-content>
