ion-content{
    --background: rgb(61,63,73);
    --background: linear-gradient(90deg, rgba(61,63,73,1) 0%, rgba(61,63,73,1) 100%);
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
::-webkit-input-placeholder {
    text-align: center;
  }
  
img{
    margin-top: -3rem;
    height: 15rem;
}

ion-button{
    color: aliceblue;
    border-radius: 10rem;
    }
ion-input, ion-button{
   padding: 10px;
   margin-top: 30px;
   margin: 5px;
    width: 18rem;
}
ion-item{
    border-radius: 10rem;
    margin: 5px;
}
ion-label{
    text-align: center;
}
.but{
    position: absolute;
    padding: 5px;
    background-color: rgba(250, 235, 215, 0);
    border-radius: 4px;
}
