<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     <b> Profile </b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    
  <div class="he">
    <img src="../assets/img/logo.png" alt="fgsjh"  >
    <h6> Republic of the philippines <br> PROVINCE OF NUEVA ECIJA <br> Municipality of Gabaldon </h6>
    <h2>EMERGENCY RESPONSE TEAM</h2> <h3>Organizational Structure</h3>
  </div>
    
  <div class="we1">
    <img src="../assets/img/jobby.jpg" alt="jabby emata" /> 
    <h6>JOBBY P. EMATA</h6><h5>Mayor</h5>
  </div>
 
  <div class="we2">
    <img src="../assets/img/jobby.jpg" alt="jabby emata" /> 
    <h6>EL CIELO L. JINTALAN</h6><h5>Overall.Team Leader</h5>
  </div>
  
  <div class="all">
    <div class="card">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Benjie P. Ramones</ion-card-title>
          <ion-card-subtitle>Team Leader</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          FREDERICK D. BERNALDEZ <br>
          JOSE ALBERT A DOMINGO <br>
          JESSIE V. NANGAN <br>
          JESTONI A. ALONZO  <br>
          MARCELO DALACAT <br>
          RONNEL REPUBLIKA <br> 
          DENNIS DALACAT <br>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="card2">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Joselito M. Corpuz</ion-card-title>
          <ion-card-subtitle>Team Leader</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          RITCHE R. ESTABILLO <br>
          FRANK D. DACUMOS JR. <br>
          BARTOLOME G. AQUINO JR.<br>
          RUFINO DELA CRUZ JR.<br>
          ROBERTO AVENDAÑO <br>
          CESARIO ROXAS JR. <br>
          KEVIN MAR TORRES <br>
        </ion-card-content>
      </ion-card>
    </div> 

    <div class="card3">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Benjie P. Ramones</ion-card-title>
          <ion-card-subtitle>Team Leader</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          JAYSON M. GUILLERMO <br>
          JOENA D. PERALTA <br>
          RIC R. CLEMENTE <br>
          JAREEM ROSS C. ANDRES<br>
          ROYLAN JADE E NUNAG <br> 
          JOMAR D. LAZARO <br>
          ROSENDO CARRASCO <br>
          MIDEL DALACAT<br>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="card4">
      <ion-card  color="light">
        <ion-card-header>
          <ion-card-title>VISION</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          "A premier destination for Eco-tourism, Agro-forestry and 
          renewable power energy source in the region with well educated, 
          learned, productive, empowered and peace loving community in a 
          developed and sustainable economy with access to all kinds  
          utilities in a well balanced ecology, disaster resilient and protected 
          environment under a dynamic and pro-active governance through
          the guidance of the Almighty God."
        </ion-card-content>
      </ion-card>
    </div>
    
    <div class="card5">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>MISSION</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          "To implement, major plans, programs and projects of the 
          municipality in coordination and linkages with the 
          internal and external sources including the private sectors."
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <app-explore-container name=""></app-explore-container>
</ion-content>
