

.he img{
    width: 100px;
    height: auto;
    position: absolute;
    margin-left: -13rem;
    margin-top: -3rem;
    
}

.he{
    color: rgb(0, 0, 0);
    text-align: center;
}
h3{
    font-size: 20px;
    margin-top: -1rem;
}
.we1{
    text-align: center;
    margin-top: 1rem;
 }
.we1 img{
    border-radius: 50%;
    width: 100px;
    height: auto;
}
.we1 h6 {
    font-weight: bold;
    margin-top: -.3rem;
}
.we1 h5 {
    margin-top: -1rem;
    font-size: 15px;
}

.we2{
    text-align: center;
    margin-top: 1rem;
 }
.we2 img{
    border-radius: 50%;
    width: 100px;
    height: auto;
}
.we2 h6 {
    font-weight: bold;
    margin-top: -.3rem;
}
.we2 h5 {
    margin-top: -1rem;
    font-size: 15px;
}

.all ion-card{
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}


.all ion-card-title{
    text-align: center;
    font-weight: bold;
}
.all ion-card-subtitle{
    text-align: center;
    margin-top: -.3rem;
}

.all ion-card-content{
    text-align: center;
    font-size: 12px;
}
