<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     <b> Profile</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="we"><img src="../assets/img/logo.png" alt="fgsjh" ></div>
  <div class="he"><h6> Republic of the philippines <br> PROVINCE OF NUEVA ECIJA <br> Municipality of Gabaldon </h6>
    <h2>EMERGENCY RESPONSE TEAM</h2> <h3>Organizational Structure</h3></div>
  <app-explore-container name=""></app-explore-container>
</ion-content>
