
<ion-content [fullscreen]="true">
    <div class="container">
      <p style="text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 25px;margin-top: 25px;">
        EMERGENCY RESPONSE TEAM</p>
        <h4 style="margin-top: -1rem;">ORGANIZATIONAL STRUCTURE</h4>
      <div class="emata">
        <img src="..\assets\img\jobby.jpg" alt="">
        <h6>
          <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Jobby Emata</h3>
          <h5 style="margin-top: -.8rem;">Mayor</h5>
        </h6>
      </div>
      <div class="celo">
        <img src="..\assets\img\robin.jpeg" alt="">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">EL CIELO L. JINTALAN</h4>
        <h5 style="margin-top: -.8rem;">Overall.Team Leader</h5>
      </div>
      <div class="office">
        <div class="officer0">
          <h3>Victory M. Señal</h3>
          <h5 style="margin-top: -.8rem;">Team Leader</h5>
          <p style="font-size: small;">
            JAYSON M. GUILLERMO <br>
          JOENA D. PERALTA <br>
          RIC R. CLEMENTE <br>
          JAREEM ROSS C. ANDRES<br>
          ROYLAN JADE E NUNAG <br> 
          JOMAR D. LAZARO <br>
          ROSENDO CARRASCO <br>
          MIDEL DALACAT<br>
          </p>
        </div>
     
      <div class="officer">
        <div class="officer1">
          <h3>Benjie P. Ramones</h3>
          <h5 style="margin-top: -.8rem;">Team Leader</h5>
          <p style="font-size: small;">
            FREDERICK D. BERNALDEZ <br>
            JOSE ALBERT A DOMINGO <br>
            JESSIE V. NANGAN <br>
            JESTONI A. ALONZO  <br>
            MARCELO DALACAT <br>
            RONNEL REPUBLIKA <br> 
            DENNIS DALACAT <br>
          </p>
        </div>

        <div class="officer1">
          <h3>Joselito M. Corpuz</h3>
          <h5 style="margin-top: -.8rem;">Team Leader</h5>
          <p style="font-size: small;">
            RITCHE R. ESTABILLO <br>
            FRANK D. DACUMOS JR. <br>
            BARTOLOME G. AQUINO JR.<br>
            RUFINO DELA CRUZ JR.<br>
            ROBERTO AVENDAÑO <br>
            CESARIO ROXAS JR. <br>
            KEVIN MAR TORRES <br>
          </p>
        </div>
      </div>
    </div>
      <div class="miss">
        <div class="vis">
          <h3>Vision</h3>
          <p><i> "A premier destination for Eco-tourism, Agro-forestry and 
            renewable power energy source in the region with well educated, 
            learned, productive, empowered and peace loving community in a 
            developed and sustainable economy with access to all kinds  
            utilities in a well balanced ecology, disaster resilient and protected 
            environment under a dynamic and pro-active governance through
            the guidance of the Almighty God."</i></p>
        </div>
        <div class="mis">
          <h3>Mission</h3>
          <p><i>
            "To implement, major plans, programs and projects of the 
          municipality in coordination and linkages with the 
          internal and external sources including the private sectors."
          </i></p>
        </div>
      </div>
    </div>
 <app-explore-container name=""></app-explore-container>
</ion-content>
