.container{
    background-image: linear-gradient(rgba(12, 12, 12, 0.527),rgba(60, 60, 60, 0.784)) , url(gabaldon.jpg);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.emata{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    width: 85%;
    margin: 0 2rem 2em 2rem;
}
.emata img {
    height: 120px;
    border-radius: 10px;
    margin: 5px;
}
.emata h6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.celo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.celo img {
    margin-top: -.5rem;
    height: 120px;
    border-radius: 50rem;
}
.officer{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.officer1{
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    text-align: center;
    margin: 0 .5rem 0 .5rem;
    padding: 5px;
}
.officer h3{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.miss{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.vis, .mis{
    width: 85%;
    background: rgba(105, 105, 105, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(105, 105, 105, 0.47);
    text-align: center;
    margin: 2rem 0 0 0;
}

