<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     <b> Dashboard</b>
    </ion-title>
    <ion-buttons slot="end">


<ion-button  (click)="goPrev ()">
  <ion-icon slot="icon-only" name="arrow-back"> </ion-icon>
</ion-button>
<ion-button  (click)="goNext ()">
  <ion-icon slot="icon-only" name="arrow-forward"> </ion-icon>
</ion-button>


    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
