@media(max-width : 415px){
    swiper-container{
        height: 60%;
        margin-top: -20rem;
    }
}
@media(max-width : 380px){
    swiper-container{
        height: 60%;
        margin-top: -10rem;
    }
}





swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

