

p{
    padding:0  10px  10px  10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
ion-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

ion-label{
    color: rgb(2, 2, 2);
    font-weight: bolder;
}


ion-card-header{
    text-align: center;
}

ion-item ion-icon{
    padding: 3px;
}

ion-item img{
    width: 120%;
    height: 120%;
}

