<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     <b>Social Media</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label></ion-label>
  </ion-item>
  
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start" size="large">
        <img alt="" src="../assets/img/logo.png" />
      </ion-avatar>
      <ion-label>MDRRMO</ion-label>
      <ion-icon color="dark" name="call"></ion-icon>
      <ion-label style="font-size: large;"><b>0995 512 0016</b></ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../assets/img/bfp.PNG" />
      </ion-avatar>
      <ion-label>BFP-Gabaldon</ion-label>
      <ion-icon color="dark" name="call"></ion-icon>
      <ion-label style="font-size: large;"><b>0995 512 0016</b></ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../assets/img/pnp.JPG" />
      </ion-avatar>
      <ion-label>PNP-Gabaldon</ion-label>
      <ion-icon color="dark" name="call"></ion-icon>
      <ion-label style="font-size: large;"><b>0995 512 0016</b></ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="../assets/img/neeco2.JPG" />
      </ion-avatar>
      <ion-label>NEECO-Area II</ion-label>
      <ion-icon color="dark" name="call"></ion-icon>
      <ion-label style="font-size: large;"><b>0995 512 0016</b></ion-label>
    </ion-item>

   

   

  <ion-footer>
    <p><ion-icon color="dark" size="large" name="logo-facebook"></ion-icon><ion-label>MDRRMO</ion-label></p>

    <p><ion-icon color="dark" size="large" name="logo-facebook"></ion-icon><ion-label>BFP</ion-label></p>

    <p><ion-icon color="dark" size="large" name="logo-facebook"></ion-icon><ion-label>PNP</ion-label></p>
    
    <p><ion-icon color="dark" size="large" name="logo-facebook"></ion-icon><ion-label>NEECO</ion-label></p>
  </ion-footer>



  <app-explore-container name=""></app-explore-container>
</ion-content>
