
p{
    padding:0  10px  10px  10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
ion-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

ion-label{
    color: rgb(2, 2, 2);
    font-weight: bolder;
}


ion-card-header{
    text-align: center;
}

ion-item ion-icon{
    padding: 3px;
}

ion-item img{
    width: 120%;
    height: 120%;
}
.hrad{
    
    margin-top: 5px;
    padding: 0px;
    background: rgb(255,67,67);
    background: linear-gradient(90deg, rgba(255,67,67,1) 0%, rgba(87,115,255,0.8520658263305322) 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.diii{
    margin-right: 5px;
    height: 6rem;
    border-radius: 50%;
    
}
.HOT{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
   }
   ion-icon{
        size: 100px;
   }
   .dd{
    display: flex;
    flex-direction:column;
   }
.social{
    display: flex;
    flex-direction: row;
}
.dii{
    height: 10px;
    background-color: black;
    border-radius: 100%;
}
