

p{
    padding:0  10px  10px  10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
ion-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
ion-icon{
    color: aliceblue;
}
ion-label{
    color: white;
}
ion-card{
    background-color: rgba(255, 255, 255, 0.308);
}

ion-card-subtitle{
    color: black;
    
}

ion-card-content{
    color: black;
}
