<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     <b>Media</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
      <div class="item">
        <h2><h4><img src="..\assets\img\logo - Copy.png" alt=""></h4>
        <div class="right">
        <div class="label">
          <h3>MDRRMO</h3>
          <p style="color: rgba(240, 248, 255, 0.851);"><ion-icon name="call">
            
          </ion-icon>0907 073 4444</p>
        </div>
        <div class="face">
          <ion-icon name="logo-facebook" class="fb"></ion-icon>
          <h6>Facebook</h6>
          <a href="https://www.facebook.com/MDRRMO.Gabaldon.N.E"><ion-icon name="arrow-forward-outline" class="fb"></ion-icon></a>
        </div>
      </div>
    </h2>
    </div>
    </div>

    <div class="container1">
      <div class="item">
        <h2><h4><img src="..\assets\img\bfp-removebg-preview.png" alt=""></h4>
        <div class="right">
        <div class="label">
          <h3>BFP</h3>
          <p style="color: rgba(240, 248, 255, 0.851);"><ion-icon name="call">
            
          </ion-icon>0942 715 2383</p>
        </div>
        <div class="face">
          <ion-icon name="logo-facebook" class="fb"></ion-icon>
          <h6>Facebook</h6>
          <a href="https://www.facebook.com/profile.php?id=100064783388559"><ion-icon name="arrow-forward-outline" class="fb"></ion-icon></a>
        </div>
      </div>
    </h2>
    </div>
    </div>

    <div class="container2">
      <div class="item">
        <h2><h4><img src="..\assets\img\pnp-removebg-preview.png" alt=""></h4>
        <div class="right">
        <div class="label">
          <h3>PNP</h3>
          <p style="color: rgba(240, 248, 255, 0.851);"><ion-icon name="call">
            
          </ion-icon>0998 598 5427</p>
        </div>
        <div class="face">
          <ion-icon name="logo-facebook" class="fb"></ion-icon>
          <h6>Facebook</h6>
          <a href="https://www.facebook.com/pulisya.nggabaldon"><ion-icon name="arrow-forward-outline" class="fb"></ion-icon></a>
        </div>
      </div>
    </h2>
    </div>
    </div>

    <div class="container3">
      <div class="item">
        <h2><h4><img src="..\assets\img\neeco2-removebg-preview.png" alt=""></h4>
        <div class="right">
        <div class="label">
          <h3>NEECO</h3>
          <p style="color: rgba(240, 248, 255, 0.851);"><ion-icon name="call">
            
          </ion-icon>0925 688 8944</p>
        </div>
        <div class="face">
          <ion-icon name="logo-facebook" class="fb"></ion-icon>
          <h6>Facebook</h6>
          <a href="https://www.facebook.com/neeco2a2"><ion-icon name="arrow-forward-outline" class="fb"></ion-icon></a>
        </div>
      </div>
    </h2>
    </div>
    </div>
    <app-explore-container name=""></app-explore-container>
  </ion-content>
