
.container{
    display: flex;
    flex-direction: row;
}
.container img{
    height: 200px;
    width: 200px;
}
p{
    margin: 15px;
    box-shadow: 12px 9px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
