<ion-header [translucent]="true">
  <ion-toolbar color="light">

    <ion-avatar slot="start"><img src="..\assets\icon\appLogo.png" alt=""></ion-avatar>
    <ion-button color="light" slot="end" routerLink="/tabs/tab1"><ion-icon name="log-out-outline" slot="end" size="large" style="padding: 10px;" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <p><img src="..\assets\icon\addreport.jpg" alt=""><ion-button color="success" routerLink="/report">Create</ion-button></p>
    <p><img src="..\assets\icon\addphoto.jpg" alt=""><ion-button color="success">Add</ion-button></p>
</div>
</ion-content>
